<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form">
        <form id="form">
            <label for="link" class="link">Post Link</label>
            <input type="text" id="link" name="postUrl"> <!-- Corrected id and name attributes -->
            <label for="description" class="description">Post Description</label>
            <input type="text" id="description" name="postDescription"> <!-- Corrected id and name attributes -->
            <button type="submit" id="post">Post</button>
            <ul id="details"></ul>
        </form>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
